<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <%- include ("layout/head") %>
  </head>
  <body>
    <%- include ("layout/nav") %>
    <div class="container">
        <div class="text-center">
          <h3>List Post</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="/admin/post/new" class="btn btn-success pull-right" style="margin-bottom: 20px; margin-right: 15px;">Add new post</a>
            </div>
        </div>
      <div class="col-sm-12">
        <table
          class="table table-bordered dataTable"
          id="dataTable"
          width="100%"
          cellspacing="0"
          role="grid"
          aria-describedby="dataTable_info"
          style="width: 100%"
        >
          <thead>
            <tr role="row">
              <th
                class="sorting_asc"
                tabindex="0"
                aria-controls="dataTable"
                rowspan="1"
                colspan="1"
                aria-sort="ascending"
                aria-label="Name: activate to sort column descending"
                style="width: 57px"
              >
                ID
              </th>
              <th
                class="sorting"
                tabindex="0"
                aria-controls="dataTable"
                rowspan="1"
                colspan="1"
                aria-label="Position: activate to sort column ascending"
                style="width: 61px"
              >
                Title
              </th>
              <th
                class="sorting"
                tabindex="0"
                aria-controls="dataTable"
                rowspan="1"
                colspan="1"
                aria-label="Office: activate to sort column ascending"
                style="width: 49px"
              >
                Content
              </th>
              <th
                class="sorting"
                tabindex="0"
                aria-controls="dataTable"
                rowspan="1"
                colspan="1"
                aria-label="Age: activate to sort column ascending"
                style="width: 31px"
              >
                Author
              </th>
              <th
                class="sorting"
                tabindex="0"
                aria-controls="dataTable"
                rowspan="1"
                colspan="1"
                aria-label="Start date: activate to sort column ascending"
                style="width: 69px"
              >
                Create time
              </th>
              <th
                class="sorting"
                tabindex="0"
                aria-controls="dataTable"
                rowspan="1"
                colspan="1"
                aria-label="Salary: activate to sort column ascending"
                style="width: 67px"
              >
                Update time
              </th>
              <th
                class="sorting"
                tabindex="0"
                aria-controls="dataTable"
                rowspan="1"
                colspan="1"
                aria-label="Salary: activate to sort column ascending"
                style="width: 67px"
              >
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <% if(data) {%> <% for(item of data) {%>
            <tr role="row" class="odd">
              <td class="sorting_1"><%= item.id %></td>
              <td><%= item.title %></td>
              <td><%= item.content %></td>
              <td><%= item.author %></td>
              <td><%= item.create_at %></td>
              <td><%= item.update_at %></td>
              <td>
                <a href="/admin/post/edit/<%= item.id%>" class="btn btn-primary">Edit</a>
                <button class="btn btn-danger post_delete" post_id="<%= item.id%>">Delete</button>
              </td>
            </tr>
            <% } %> <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <script type="text/javascript" src="/static/js/post.js"></script>
  </body>
</html>
