<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit post</title>
    <%- include ("../layout/head") %>
    <script src="/static/ckeditor/ckeditor.js"></script>
    <!-- Bootstrap CSS -->
    <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
  </head>
  <body>
    <%- include("../layout/nav") %>
    <div class="container">
      <h3>Edit Post</h3>
      <% if (data && data.err) {%>
      <div id="login-alert" class="alert alert-danger col-sm-12">
        <%= data.err %>
      </div>
      <% } %>
      <form method="" action="">
        <input
          class="id"
          type="hidden"
          name="id"
          value="<% if(data && data.post) {%> <%= data.post.id %><% } %>"
        />
        <div class="form-group">
          <label for="">Title</label>
          <input
            type="text"
            class="form-control title"
            name="title"
            id="title"
            aria-describedby="helpId"
            placeholder="title"
            value="<% if(data && data.post) {%> <%= data.post.title %><% } %>"
          />
        </div>
        <div class="form-group">
          <label for="">Content</label>
          <textarea
            type="text"
            name="content"
            class="ckeditor form-control content"
            id="editor1"
            rows="15"
            aria-describedby="helpId"
            placeholder="content"
          >
<% if(data && data.post) {%> <%= data.post.content%><% } %></textarea
          >
        </div>
        <div class="form-group">
          <label for="">Author</label>
          <input
            type="text"
            class="form-control author"
            name="author"
            id="author"
            aria-describedby="helpId"
            placeholder="author"
            value="<% if(data && data.post) {%> <%= data.post.author%><% } %>"
          />
        </div>
        <button class="btn btn-success post_edit">Edit</button>
      </form>
    </div>
    <script>
      CKEDITOR.replace("editor1", {
        extraPlugins: "filebrowser",
        filebrowserBrowseUrl: "/list", //upload location
        filebrowserUploadMethod: "form",
        filebrowserUploadUrl: "http://localhost:3000/admin/post/upload", //route
      });
    </script>
    <script type="text/javascript" src="/static/js/post.js"></script>
  </body>
</html>
